:root{
--Green-500: hsl(158, 36%, 37%);
--Green-700: hsl(158, 42%, 18%);
--Black: hsl(212, 21%, 14%);
--Grey: hsl(228, 12%, 48%);
--Cream: hsl(30, 38%, 92%);
--White: hsl(0, 0%, 100%);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@import url('https://fonts.google.com/specimen/Fraunces');
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    min-height: 100vh;
    background-color: var(--Cream);
}
.card{
   display: flex;
   flex-direction: column;
   max-width: 20rem;
   height: auto;
   width: 100%;

}
header img{
    max-width: 20rem;
    width: 100%;
    display: block;
    height: auto;
    object-fit: cover;
    border-radius: .8rem .8rem 0 0;
}
main{
    padding: 1.5rem;
    background-color: var(--White);
    
}
.title{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: var(--Grey);
    
}
h1{
    margin: 1rem 0 1rem 0;
}
.text{
    color: var(--Grey);
}
.big{
    font-size: 2rem;
    color: var(--Green-500);
    font-family: 'Fraunces';
}
.small{
    color: var(--Grey);
    text-decoration: line-through;
}
.price{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 1rem;
}

button{
    border-radius: .7rem;
    color: var(--White);
    font-weight: bold;
    background-color: var(--Green-500);
    margin: 1rem 0 1rem 0;
    border: none;
    padding: 0.7rem 3rem 0.7rem 3rem;
    width: 100%;
}
button:hover{
    background-color: var(--Green-700);
    cursor: pointer;
}
@media (min-width:768px){
    .card{
        display: flex;
        flex-direction: row;
        max-width: 40rem;
        width: 100%;
    }
    header img{
         width: 30rem;
        height: 25rem;
        border-radius: 1rem 0 0 1rem;
    }
    main{
        border-radius: 0 1rem 1rem 0;
    }
     button{
        margin-top: 2.5rem;
    }
    
}
